@import "../../common/base.css";

body {
  color: #33333d;
  background: #fff;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 5;
}

.main {
  width: 70%;
  max-width: 900px;
  min-width: 300px;
  position: absolute;
  top: 0;
  right: 0;

  z-index: 10;
  max-height: 100%;

  padding: 4rem 2rem;
  overflow: auto;
}

@media (max-width: 400px) {
  .canvas {
    display: none;
  }
  .main {
    width: 100%;
  }
}

.logo {
  margin-bottom: 3rem;
}

.logo img {
  width: 15rem;
  display: block;
}

.buttonContainer {
  text-align: center;
  padding: 4rem 0;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background: #6200ee;
  border-radius: 0.2rem;
  box-shadow: 0.3rem 0.3rem 0 #ff0166;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  border: 0;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  cursor: pointer;

  transition: box-shadow 200ms ease-in;
}
.button:hover {
  box-shadow: 0.5rem 0.5rem 0 #ff0166;
}
.button:active {
  box-shadow: 0.1rem 0.1rem 0 #ff0166;
}
